* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #c6edb8;
    min-height: 100vh;
}

h1 {
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: left;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 150%;
}

nav ul li a:hover {
    color: #2148b3;
}

.active {
    text-decoration: underline;

}

.form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #d136f4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #961ba9;
}

#logout-link {
    background-color: #d136f4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-link:hover {
    background-color: #961ba9;
}

.cont-container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
}

.p-div {
    display: flex;
    justify-content: center;
    align-items: center;
}